<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}alumno World{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>alumnos World</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/alumnos">alumnos</a></li>
                <li><a href="/agregar">Agregar alumnos</a></li>
                <li><a href="/actualizar">Actualizar alumnos</a></li>
                <li><a href="/notas">Notas alumnos</a></li>
                <li><a href="/borrar">Borrar alumno</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 alumnos World. All rights reserved.</p>
    </footer>
</body>
</html>

