---
layout: default
title: "Blog"
permalink: /blog/
---

<header class="masthead" style="background-image: url('{% if page.background %}{{ page.background }}{% else %}{{ site.baseurl }}/img/bg-post.jpg{% endif %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>Blog</h1>
                    <span class="subheading">Mis publicaciones y aprendizajes</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in site.posts %}
                <div class="post-preview">
                    <a href="{{ post.url | relative_url }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</h3>
                    </a>
                    <p class="post-meta">Publicado el {{ post.date | date: "%B %d, %Y" }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
