---
layout: default
title: "Sobre Mí"
background: "{{ site.baseurl }}/img/bg-about.jpg"
permalink: /pagina1/
---

<div class="container">
    <h1>Sobre Mí</h1>
    <p>Soy un apasionado de la tecnología y el desarrollo de software.</p>
    <p>Mis intereses incluyen:</p>
    <ul>
        <li>🔹 Programación en Python, Bash y SQL.</li>
        <li>🔹 Administración de servidores y redes virtuales.</li>
        <li>🔹 Configuración de sistemas de seguridad.</li>
    </ul>
    <p>Encuéntrame en <a href="https://github.com/noestadisponible">GitHub</a> o <a href="https://www.linkedin.com/in/luchopaul">LinkedIn</a>.</p>
</div>